body {
    margin: 40px;
    background: #F5F5DC;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: #800000;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #800000;
}

.main-photo {
    width: 300px;
}